<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Типы должника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <th:block th:replace="fragments/header :: links">
    </th:block>
</head>
<body>
<div th:replace="fragments/header :: header">

</div>

<div class="container">
    <h1>Типы должника</h1>
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <thead>
            <th>Идентификатор</th>
            <th>Идентификатор в АИС</th>
            <th>Тип должника</th>
            <th>Редактировать</th>
            <th>Удалить</th>
            </thead>
            <tbody>
            <tr th:each="debtortype: ${debtortypes}">
                <td th:text="${debtortype.id}">1</td>
                <td th:text="${debtortype.number}">1</td>
                <td th:text="${debtortype.caption}">Физическое лицо</td>
                <td><a class="btn btn-warning btn-sm" th:href="@{'debtortype/' + ${debtortype.id} + '/edit'}"><i
                        class="glyphicon glyphicon-pencil"></i></a></td>
                <td><a class="btn btn-danger btn-sm" th:href="@{'debtortype/' + ${debtortype.id} + '/remove'}"><i
                        class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
            </tbody>
        </table>

        <form th:action="@{'debtortypes/add'}" method="post" class="edit-data">
            <div class="form-group">
                <h3>Добавить тип должника:</h3>
            </div>
            <div class="form-group">
                <label for="debtorTypeNumber">Идентификатор в АИС:</label>
                <input class="form-control" type="number" name="number" id="debtorTypeNumber"/>
            </div>
            <div class="form-group">
                <label for="debtorTypeCaption">Тип должника:</label>
                <input class="form-control" type="text" name="caption" id="debtorTypeCaption"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-primary btn-block" id="submit"><i class="glyphicon glyphicon-check"></i>
                    <span>Сохранить</span>
                </button>
            </div>
        </form>

    </div>
</div>


</body>
</html>