<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Сущности исполнения</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <th:block th:replace="fragments/header :: links">
    </th:block>
</head>
<body>
<div th:replace="fragments/header :: header">

</div>

<div class="container">
    <h1>Cущности исполнения</h1>
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <thead>
            <th>Идентификатор</th>
            <th>Идентификатор в АИС</th>
            <th>Сущность исполнения</th>
            <th>Редактировать</th>
            <th>Удалить</th>
            </thead>
            <tbody>
            <tr th:each="debtclass: ${debtclasses}">
                <td th:text="${debtclass.id}">1</td>
                <td th:text="${debtclass.number}">1</td>
                <td th:text="${debtclass.caption}">Имущественного характера</td>
                <td><a class="btn btn-warning btn-sm" th:href="@{'debtclass/' + ${debtclass.id} + '/edit'}"><i
                        class="glyphicon glyphicon-pencil"></i></a></td>
                <td><a class="btn btn-danger btn-sm" th:href="@{'debtclass/' + ${debtclass.id} + '/remove'}"><i
                        class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
            </tbody>
        </table>


        <form th:action="@{'debtclasses/add'}" method="post" class="edit-data">
            <div class="form-group">
                <h3>Добавить сущность исполнения:</h3>
            </div>
            <div class="form-group">
                <label for="debtClassNumber">Идентификатор в АИС:</label>
                <input class="form-control" type="number" name="number" id="debtClassNumber"/>
            </div>
            <div class="form-group">
                <label for="debtClassCaption">Сущность исполнения:</label>
                <input  class="form-control" type="text" name="caption" id="debtClassCaption"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-primary btn-block" id="submit"><i class="glyphicon glyphicon-check"></i>
                <span>Сохранить</span>
            </button>
            </div>
        </form>

    </div>
</div>


</body>
</html>